# 3) 범주형 데이터의 전처리

In [ ]:
# 범주형 데이터(카테고리형 데이터) - 성별, 혈액형, 주소 등
# 기계학습을 위해서는 숫자ㅏ로 변환해야 함

In [1]:
import pandas as pd
df1 = pd.DataFrame(['Male', 'Female'], columns=['x'])
df1

        x
0    Male
1  Female

In [3]:
# 더미 변수
df2 = pd.get_dummies(df1['x'], prefix='gender')
df2

   gender_Female  gender_Male
0          False         True
1           True        False

In [4]:
df3 = pd.DataFrame(['A', 'B', 'AB', 'O'], columns=['x'])
df3

    x
0   A
1   B
2  AB
3   O

In [6]:
df4 = pd.get_dummies(df3['x'], prefix='blood')
df4

   blood_A  blood_AB  blood_B  blood_O
0     True     False    False    False
1    False     False     True    False
2    False      True    False    False
3    False     False    False     True